<article>
    <h2>Edit Your Review</h2>
    <form class="edit-post-form">
        <div>
            <input name="park-name" type="text" value="{{post.park_name}}" />
            <input name="location" type="text" value="{{post.location}}" />
            <textarea name="review" value="{{post.review}}"></textarea>
        </div>
        <div>
            <span class="post-credit">Posted by you on {{format_date post.created_at}}</span>
            </br>
            <a href="/post/{{post.id}}" class="comment-count">{{post.comments.length}} comment(s)</a>
        </div>
        <button type="submit" class="btn">Save Changes</button>
        <button type="button" class="delete-post-btn btn">Delete Review</button>
    </form>
    
    <form class="comment-form">
        <div>
            <textarea name="comment-body"></textarea>
        </div>
        <div>
            <button type="submit" class="btn">Add Comment</button>
        </div>
    </form>

    {{> comments post.comments}}

</article>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>